<!DOCTYPE html>
<head>
    <style>
        boxs {
        box-sizing: border-box;
        }

        nav {
            position: fixed;    
            top: 0;
            left: 0;
            width: 190px;
            height: 100%;
            background-color: tan;
            padding-left: 10px;
            
        }

        main {
            margin-left: 200px;
            padding-left: 20px;
            font-family: sans-serif;
            font-size:x-large;
        }
    </style>
    <title> Mobasery library </title>
</head>
<body>
    <nav>
        <h1> <a href="home"> Home Page </a></h1>
        <h1> <a href="books"> Books </a></h1>
        <h1> <a href="contact"> Contact Us </a></h1>
        <h1> <a href="survay"> Survay </a></h1>
    </nav><main>
        <h1> Mobasery library </h1>
        <table>
            <tbody>
                <tr>
                    <td> <img src="/images/book2.jpg" width="350px"></td>
                    <td>  <b>Title: </b>The Giving Tree <br>
                        <b>Author: </b>Shel Silverstein <br>
                        <b>Publisher: </b> Harper & Row <br>
                        <b>About: </b> The Giving Tree considers the nature of altruism and the obligation to give of oneself in a relationship. Once there was a tree who loved a little boy. Every day the boy would come to the tree to eat her apples, swing from her branches, or slide down her trunk… and the tree was happy. But as the boy grew older he began to want more from the tree, and the tree gave and gave.
                    </td>
                </tr>
</body>