<!DOCTYPE html>
<head>
    <style>
        boxs {
        box-sizing: border-box;
        }

        nav {
            position: fixed;    
            top: 0;
            left: 0;
            width: 190px;
            height: 100%;
            background-color: tan;
            padding-left: 10px;
            
        }

        main {
            margin-left: 200px;
            padding-left: 20px;
        }
    </style>
    <title> Mobasery library </title>
</head>

<body>
    <nav>
        <h1> <a href="home"> Home Page </a></h1>
        <h1> <a href="books"> Books </a></h1>
        <h1> <a href="survay"> Survay </a></h1>
    </nav>
    <main>
        <h1> Mobasery library Contact Information</h1>
        <p> <b>Address: </b> XR4H+3CG Neidi, Bandar Bushehr, Bushehr Province, Iran</p> <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4151.630874151244!2d50.825981390998194!3d28.955009859862113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9054a71781f0d534!2s7HWGXR4H%2B3CG!5e0!3m2!1sen!2sca!4v1642023418085!5m2!1sen!2sca" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </main>
</body>