<!DOCTYPE html>
<head>
    <style>
        boxs {
        box-sizing: border-box;
        }

        nav {
            position: fixed;    
            top: 0;
            left: 0;
            width: 190px;
            height: 100%;
            background-color: tan;
            padding-left: 10px;
            
        }

        main {
            margin-left: 200px;
            padding-left: 20px;
        }
    </style>
    <title> Mobasery library </title>
</head>

<body>
    <nav>
        <h1> <a href="books"> Books </a></h1>
        <h1> <a href="contact"> Contact Us </a></h1>
        <h1> <a href="survay"> Survay </a></h1>
    </nav>
    <main>
        <h1> Welcome to Mobasery library </h1>
        <h3> Please choose an option on the navigation pane to the left<h3>
    </main>
</body>