<!DOCTYPE html>
<head>
    <style>
        boxs {
        box-sizing: border-box;
        }

        nav {
            position: fixed;    
            top: 0;
            left: 0;
            width: 190px;
            height: 100%;
            background-color: tan;
            padding-left: 10px;
            
        }

        main {
            margin-left: 200px;
            padding-left: 20px;
            font-family: sans-serif;
            font-size:x-large;
        }
    </style>
    <title> Mobasery library Survay </title>
</head>

<body>
    <nav>
        <h1> <a href="home"> Home Page </a></h1>
        <h1> <a href="books"> Books </a></h1>
        <h1> <a href="contact"> Contact Us </a></h1>
    </nav>
    <main>
        <h1> Mobasery library Survay </h1>
        <form action=submit>
            <table>
                <tbody>
                    <tr>
                        <th> Name: </th>
                        <td> <input type="text" name="name" size="15" maxlength="30"></td>
                    </tr>
                    <tr>
                        <td> <b>Date of Birth: </b></td>
                        <td> <input type="date" name="birth"></td>
                    </tr>
                    <tr>
                        <td> <b>How Likely is <br>it that you <br> recommend <br> this library to <br>your friends?</b></td>
                        <td> <input type="radio" name="rec" value="Very Likely"> Very Likely</td>
                        <td> <input type="radio" name="rec" value="Somewhat Likely"> Somewhat Likely</td>
                        <td> <input type="radio" name="rec" value="Not Likely"> Not Likely</td>
                    </tr>
                    <tr>
                        <td> <br></td>
                        <td> <input type="submit" name="submit" ></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </main>
</body>